<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScRRRap-it - Scrap Collection Appointment</title>
    <link rel="stylesheet" href="/static/book.css">
    <link rel="icon" href="logo.png" type="image/x-icon">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="/static/logo1.png" alt="Logo">
        </div>
        <ul class="nav-links">
            <li><a href="/">home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/scrap_price">Scrap Price</a></li>
            <li><a href="/educational_resourses">Educational Resources</a></li> <!-- Added -->
            <li><a href="/scrrrap_points">scRRRap Points</a></li> <!-- Added -->
        </ul>
    </nav>
    
    <section>
        
        <center><h1 class="book-appointment">Schedule your pick-up</h1></center>

        <form method='POST' action="{% url 'save_pickup' %}" class="appointment-form" onsubmit="sendMessage(); return false;">
            {% csrf_token %}
            <label for="name">Your Name:</label>
            <input type="text" id="name" name="name" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="phone">Phone Number:</label>
            <input type="tel" id="phone" name="phone" required>
            
            <label for="address">Address:</label>
            <textarea id="address" name="address" rows="4" required></textarea>
            
            <label for="service">Select Scrap Type:</label>
            <select id="service" name="service" required multiple>
                <option value="paper">Paper Scrap</option>
                <option value="plastic">Plastic Scrap</option>
                <option value="metal">Metal Scrap</option>
                <option value="glass">Glass Scrap</option>
                <option value="electronic">Electronic Scrap</option>
                <option value="multiple_scrap"> multiple type scrap</option>
            </select>
            
            <br>
            <br>
            <label for="date">Preferred Date:</label>
            <input type="date" id="date" name="date" required>
            <br>
            <br>
            <label for="time">Preferred Time:</label>
            <input type="time" id="time" name="time" required>
            <br>
            <br>
            
            <button type="submit">Book Now</button>
        </form>
        
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <footer>
        <p>&copy; 2024 ScRRRap-it. All rights reserved.</p>
    </footer>

    
</body>
</html>
