
    <div class="logo">
        <img src="/static/logo1.png" alt="SCRRRAPIT Logo">
    </div>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/scrap_price">Scrap Price</a></li>
            <li><a href="/educational_resourses">Educational Resources</a></li> <!-- Added -->
            <li><a href="/scrrrap_points">scRRRap Points</a></li> <!-- Added -->
        </ul>
                
    </nav>
